@import 'color.import.less';
@import 'fonts.import.less';
@import 'rules.import.less';
@import 'base.import.less';


body { width: 100%;  
	.background-linear-gradient(@lightestgrey, @grey);
	height: 100vh;
}

#page {
	width: 1000px;
	background-color: white;
	.unit;
	position: relative;
		left: 50%;
		margin-left: -500px;
}

h1 { text-align: center; margin-left: 0; }

.side { 
	width: 200px; 
	margin: 0 50px;	
	li { 
		width: 100%;
		margin: 20px;
		font-size: 2em;
	
		a { font-size: 1.2em; }
	}
	
	
}
li.pick { margin: 50px 0 10px -30px; color: @grey; }


.main { 
	width: 640px; margin: 0 auto; 
}
	#picture {
		width: 640px;
		height: 480px;
		background-color: @lightergrey;	
		.border-radius(10px 10px 0 0);
	
		* { .border-radius(10px 10px 0 0); }
	}

.hide { display: none; }

#timepicker {
	width: 100%;
	height: 100px;
	.border-radius(0 0 10px 10px);
	background-color: @transblack;
	position: relative;

}
#forward, #back {
	position: absolute;
		height: 480px;
		top: -480px;
	background: transparent;
}
	#forward i, #back i {
		font-size: 100px;
		color: white;
		opacity: 0.2;
		text-shadow: 0 0 2px black;
		line-height: 480px;
		margin: 5px;
		.fasttrans;
	}
		#forward:hover i, #back:hover i { opacity: 0.5; .fasttrans; }

	#forward { right: 0; }
	#back { left: 0; }

#timestamp { 
	position: absolute;
		top: -480px;
		left: 0px;
	width: 640px;
	height: 100px;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 1px black;
	font-size: 32px;
	margin-top: 7px;

}


#timepickercontrols {
	position: absolute;
		bottom: 0;
	width: 100%;
	height: 23px;
	.border-radius(0 0 10px 10px);

}

.noUi-base {
	.border-radius(0 0 10px 10px);
	color: @lightestgrey;
}
.noUi-target { 
	border: 0 none; .box-shadow(none);
}

.noUi-base { background: @grey; }
.noUi-origin { background: @transblack; }
.noUi-origin + .noUi-origin { background: @grey; }
.noUi-handle { background: @lightwhite; margin-top: 3px; }


